[Unit]
Description=node_exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple
ExecStart=/opt/node_exporter-1.7.0.linux-arm64/node_exporter

[Install]
WantedBy=multi-user.target
